@import './theme.scss';
@import './home.scss';
@import './components/header.scss';
@import './components/article-preview.scss';

body {
    font-size: 14pt;
    background-color: $siteBackgroundColor;
    padding-bottom: 20px;
}