.article{
    margin-top: 10px;
    background-color: $siteArticleBgColor;
    border: 1px solid $siteBorderColor;
    border-radius: 4px;
    padding: 10px;
    color:$siteArticleFontColor;
}

.article-title{
    float:left;

    a{
        font-weight: 700;
        color: $siteArticleTitleFontColor;
    }

    a:visited{
        color:gray;
    }
} 

.article-preview-component-controls{
    float:right;
}