.blog-article-container{
    // background-color: $siteArticleBgColor;
    margin-top:10px;
    margin-bottom: 20px;

    .blog-article-title{
        font-weight: 700;
        color: $siteArticleTitleFontColor;
    }

    .blog-article-content{
        color: $siteArticleFontColor;
    }
}