.article{
    margin-top: 10px;
    background-color: #feff58;
    padding: 10px;
    color:#33322a;
}

.article-title{
    a{
        font-weight: 700;
        color: #40403d;
    }

    a:visited{
        color:gray;
    }
} 