.blog-article-container{
    background-color: $siteArticleBgColor;
    padding: 10px;
    margin-top:10px;

    .blog-article-title{
        font-weight: 700;
        color: $siteArticleTitleFontColor;
    }

    .blog-article-content{
        color: $siteArticleFontColor;
    }
}